$color-dark-grey: #242424;
$color-light-grey: rgba(224, 228, 238, 0.6);

.card {
  width: 220px;
  padding: 10px;

  &-poster {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    & img {
      transition: transform 0.4s ease-in-out;

      &:hover {
        transform: scale(1.07);
        cursor: pointer;
      }
    }
  }


  &-vote {
    position: absolute;
    top: 3%;
    right: 5%;
    padding: 10px 6px;
    border-radius: 50%;
    background: $color-light-grey;
    font-weight: 600;
    color: $color-dark-grey;
  }

  &-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }
}

button[name="favorite"] {
  position: absolute;
  top: 10px;
  left: 15px;
  color: #d7d5d5;
  background: none;
  font-size: 1.5rem;

  &:hover {
    transform: scale3d(1.2, 1.2, 1.2);
    transition: transform 0.2s ease-in-out;
  }
}
